
<%- if controller_name != 'sessions' %>
  <div class="container">
   <div class="row">
      <h5 class="offset-md-1 text-center mt-4 mb-4 mr-5" style="background-color:#dcdcdc;">
        &emsp;既に登録済みの方&emsp;
      </h5>
   </div>
  </div>

  <div class="row col-5 ml-5">
  <%= link_to "こちら", new_session_path(resource_name) %>&emsp;からログインしてください。<br>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="container">
   <div class="row">
      <h6 class="offset-md-1 text-center mt-4 mb-4 mr-5" style="background-color:#dcdcdc;">
        &emsp;会員登録がお済みでない方&emsp;
      </h6>
   </div>
  </div>

  <div class="row col-5 ml-5">
  <%= link_to "こちら", new_registration_path(resource_name) %>&emsp;から新規登録を行ってください。<br>
  </div>
<% end %>

