<div class="container">
  <div class="row">
    <h5 class="text-center mt-4 mb-4 ml-5" style="background-color:#dcdcdc;">
      &emsp;注文履歴詳細&emsp;
    </h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">

    </div>
    <div class="col-4">

    </div>

  </div>
</div>

      <table class="table table-bordered mt-3">

        <thead style="background-color:#f5f5f5;">
          <tr>
           <th>商品</th>
           <th>単価(税込)</th>
           <th>個数</th>
           <th>小計</th>
          </tr>
        </thead>

        <tbody>
         <%# @orders.each do |order| %>
          <tr>
           <td>

           </td>
           <td>

           </td>
           <td>

           </td>
           <td>

           </td>

          </tr>
         <%# end %>
        </tbody>
      </table>
